.col1 {
  background-color: #A1D490;
  margin: 15px;
  padding: 10px;
}

.col2 {
  background-color: #D1B0CF;
  margin: 15px;
  padding: 10px;
}
.mySidebar {
  margin-right: 20px;
  min-height: 100vh;
}
 .imgcol {
   background-color: #eee;
   border: solid 1px green;
   margin: 15px;
   padding: 10px;
 }
